.certification-add .k-input{
    background-image: none !important;
    border-bottom: 1px solid #dddddd;
    margin-top: 5px !important;

}
.certification-add .k-state-focused{
box-shadow: none;
}
.k-autocomplete, .k-block, .k-button-group .k-tool, .k-calendar th, .k-content, .k-dropdown-wrap, .k-dropzone-active, .k-editable-area, .k-filter-row>th, .k-footer-template td, .k-grid td, .k-grid td.k-state-selected, .k-grid-content-locked, .k-grid-footer, .k-grid-footer-locked, .k-grid-footer-wrap, .k-grid-header, .k-grid-header-locked, .k-grid-header-wrap, .k-group, .k-group-footer td, .k-grouping-header, .k-grouping-header .k-group-indicator, .k-header, .k-input, .k-pager-refresh, .k-pager-wrap, .k-pager-wrap .k-link, .k-panel>.k-item>.k-link, .k-panelbar .k-content, .k-panelbar .k-panel, .k-panelbar>.k-item>.k-link, .k-popup.k-align .k-list .k-item:last-child, .k-separator, .k-slider-track, .k-splitbar, .k-state-default, .k-state-default .k-select, .k-state-disabled, .k-textbox, .k-textbox>input, .k-tiles, .k-toolbar, .k-tooltip, .k-treemap-tile, .k-upload-files, .k-widget{
    background: white !important;
}
/* .colr-red{color:#d43c3c !important;} */
.certification-add-mandatory .k-input {
    background-image: none !important;
    border-bottom: 1px solid #d43c3c !important; 
    margin-top: 5px !important;

}
.holidaycalendar-date-input input{
background-image:none !important;border-bottom:1px solid #dddddd !important;margin-top:5px !important; 
}