<div class="container-fluid ">
	<!--<loading-animation [loadingData]="loadingData"></loading-animation>-->
	<div class="row row-background">
		<app-nav-bar></app-nav-bar>

		<div class="col-lg-11 col-md-11 col-sm-11 col-xs-12 right-side-content pad0">


			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 usr-div data_table padt30 create-view">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style="padding-left:0px;">
					<h4 class="padb10 padt10 colr-1e2f4d font-18 font-bold" l10nTranslate>Weight Terms List</h4>
				</div>

				<!-- Serach Icon pannel -->
				<div class="padb10 padt10 colr-1e2f4d font-18 add-icon-index font-bold col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right padr0">
					<!--a href="#"><img src="../../assets/image/filter.png"/></a>
					<a href="#"><img src="../../assets/image/search.png"/></a-->
				

					


				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 uom-grid">
					<div class="accordion">
                            <!-- Kendo Grid starts --> 
							<div class="party-grade_block">
								
									 <kendo-grid [data]="gridView" [kendoGridBinding]="weightTermsService.weightTermModel" [selectable]="true" [groupable]="true" 
									   [group]="state.group" [sortable]="true" 
										[scrollable]="'virtual'"  [editable]="true" [pageSize]="state.take" [filter]="state.filter"
										 [filterable]="true"  [pageable]="false"
										(pageChange)="pageChange($event)">

									<ng-template kendoGridToolbarTemplate>
											
										<!--<button type="button" kendoGridExcelCommand><span class="k-icon k-i-file-excel"></span>Export to Excel</button>-->
																					 <span class="k-i-file-excel"  kendoGridExcelCommand>	<img src="../../assets/image/Excel.svg" class="excel-img"/></span>
											<img src="../../assets/image/add.png" (click)="changeShowStatus()" />
										</ng-template>
									
										<kendo-grid-column media="xs" title="Weight Terms List">
										<ng-template kendoGridCellTemplate let-dataItem>
											<!-- template for mobile -->
                                     
											<h4>
											{{ dataItem.weightTermsCode }}
											</h4>
											<dl>
											<dt>weight Terms Name</dt>
											<dd>{{ dataItem.weightTermsName }}</dd>

											<dt>weight Terms Desc</dt>
											<dd>{{ dataItem.weightTermsDesc }}</dd>

											<!--<dt>Conversion</dt>
											<dd>{{ dataItem.uomConversionFactor }}</dd>-->
											</dl>
											<!-- template for mobile Ends-->
										</ng-template>
										</kendo-grid-column>
										<kendo-grid-column field='' title='' [width]="40">
											
												<ng-template kendoGridHeaderTemplate let-dataItem>
												<input type="checkbox" id="checkall" class="k-checkbox" (change)="checkorUnCheckAll($event)" />
												<label class="k-checkbox-label chk_head" for="checkall"></label>
											</ng-template> 
											<ng-template kendoGridCellTemplate let-dataItem>
												<input type="checkbox" class="k-checkbox" id="dataItem.weightTermsCode" name="dataItem.weightTermsCode" />
												<label class="k-checkbox-label" ></label>
											</ng-template>
										</kendo-grid-column>

										<kendo-grid-column media="sm" field="weightTermsCode" title="weight Terms Code">
									<ng-template kendoGridCellTemplate let-dataItem>
										<div (click)="viewById(dataItem)" class="view-all">{{dataItem.weightTermsCode}}</div>
									</ng-template>
								</kendo-grid-column>
								<kendo-grid-column media="md" field="weightTermsName" title="weight Terms Name">
								</kendo-grid-column>
								<kendo-grid-column media="md" field="weightTermsDesc" title="Description">
								</kendo-grid-column>
								
									<kendo-grid-column media="lg" field="statusName" title="Status">
									<ng-template kendoGridCellTemplate let-dataItem>
										<label field="statusName" [ngClass]="{'status-draft': dataItem.statusName=='Draft','status-active': dataItem.statusName=='Active','status-inactive': dataItem.statusName=='InActive'}">{{dataItem.statusName}}</label>
									</ng-template>
								</kendo-grid-column>
										 <kendo-grid-column field="" title="" width="150">
									<ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex">
										<div class="show" style="float:left"><span id="e1" data-attr="draft" >
													<a href="javascript:void(0)" (click)="editRow(i)"><img src="../../../assets/image/Edit_Icon_Hover.png.svg"></a><span style="display:none;">draft</span></span>
										</div>
										<!-- <div class="" style="padding-left:30px;" (click)="holidayCalander_Delete(dataItem)" [ngClass]="{'displaynone': dataItem.statusName=='InActive'}">
											<span id="d1" class="confirm-delete" style="font-size:8px !important;">
													<img src="../../../assets/image/Delete icon.svg"></span></div> -->
										<div class="" style="padding-left:20px;"  [ngClass]="[dataItem.statusName=='Draft' ? 'displayblock' : 'displaynone']">
											<span id="d1" class="confirm-delete" >
                                                    <!-- <img src="../../../assets/image/Activeicon.svg" style="width:50px;" (click)="holidayCalander_status_change(dataItem)"> -->
                                                    <img src="../../../assets/image/Delete icon.svg" (click)="weightTerms_Delete(dataItem)">
                                                    </span>
										</div>
										<!-- <div class="" style="padding-left:20px;"  [ngClass]="[dataItem.statusName=='Active' ? 'displayblock' : 'displaynone']">
											<span id="d1" class="confirm-delete" style="font-size:8px !important;">
                                                    <img src="../../../assets/image/Deactiveicon2.svg" style="width:50px;" (click)="holidayCalander_status_change(dataItem)">
                                                    </span>
										</div> -->
										<!-- <div class="" style="padding-left:20px;"  [ngClass]="[dataItem.statusName=='InActive' ? 'displayblock' : 'displaynone']">
											<span id="d1" class="confirm-delete" style="font-size:8px !important;">
                                                    <img src="../../../assets/image/Reactivate2.svg" style="width:25px;" (click)="holidayCalander_status_change(dataItem)" >
                                                    </span>
										</div> -->
									</ng-template>
								</kendo-grid-column>


										<kendo-grid-excel fileName="WeightTerm.xlsx"></kendo-grid-excel>
									</kendo-grid>
									</div>
									<!--Kendo grid Ends-->
                     </div>
				</div>



<!--Delete Pop up-->
				<div class="modal fade delete-popup" (onHidden)="onHiddenpopup()" *ngIf="isDeletePopupModal" [style.display]="showModal ? 'block' : 'none'"
				 class="modal fade delete-popup" bsModal #successModal="bs-modal" [config]="{backdrop: 'false',show: true}" tabindex="-1"
				 role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content  del-modal">
							<div class="modal-header text-center">
								<!-- <a data-dismiss="modal" class="class pull-right"><span style="color:grey !important;" class="glyphicon glyphicon-remove" (click)="cancel()"></span></a>                                                                               -->
								<img src="../../assets/image/Confirm_Delete.svg" />
							</div>							
							<div class="modal-body">
									<div class="col-md-12 product_img text-center font-14 font-regular">
										{{deactivateSuccessDialog}}
									</div>
							</div>
							<div class="del-btn-group modal-window-footer btn-shodow">
								<div class="del-pop-btn col-lg-6 col-md-6 col-sm-6 pad0 pull-left"><button class="width-full del-cancel del-cancel-button btn btn-default font-14 font-regular bw-cancel" (click)="successModal.hide()">Cancel</button></div>
								<div class="del-pop-btn col-lg-6 col-md-6 col-sm-6 pad0 pull-left"><button class="width-full del-confirm del-button btn btn-default confirm-delete  font-14 font-regular primary" (click)="conf_delete($event)">Confirm</button></div>
							</div>
						</div>
					</div>
				</div>
				<!---->

				<!-- Delete Success Modal -->
				<div *ngIf="isdeleteSuccessModal" [style.display]="showModal ? 'block' : 'none'" class="modal fade success-modal"
				 bsModal #deletesuccessModal="bs-modal" [config]="{backdrop: 'false',show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
				 aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
								<div class="modal-header">
									<!-- <div class="modal-title"><span><img src="../../assets/image/Ok.jpg"/></span>Success : Deleted {{calendar_Name}} :</div> -->
									<div class="modal-title font-14 font-regular"><img src="../../assets/image/Ok.jpg"/>{{deactivateSuccessDialog}}</div>
								</div>
						</div>
					</div>
				</div>


				<!-- Delete Success Modal - End -->

				<!--Update message Modal - start -->
				 <div *ngIf="isupdateModal" (onHidden) = "onHiddenpopup()" [style.display]="showModal ? 'block' : 'none'" class="modal fade success-modal" bsModal #updateModal="bs-modal" 
				 [config]="{backdrop: 'false',show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
					<div class="modal-dialog ">
						<div class="modal-content">
								<div class="modal-header">
									<!-- <div class="modal-title" *ngIf="isUpdate"><span><img src="../../assets/image/Ok.jpg"/></span>Success : Updated Calender Name {{holidayCalName}}</div>
									<div class="modal-title" *ngIf="isDeactivated"><span><img src="../../assets/image/Ok.jpg"/></span>Success : Updated & deactivated Calender Name {{holidayCalName}}</div>
									<div class="modal-title" *ngIf="isActivated"><span><img src="../../assets/image/Ok.jpg"/></span>Success : {{status}} Calendar Name {{holidayCalName}}</div> -->
									 <div class="modal-title font-14 font-regular" *ngIf="isUpdate"><img src="../../assets/image/Ok.jpg"/>{{msg}}</div>
									<div class="modal-title font-14 font-regular" *ngIf="isDeactivated"><img src="../../assets/image/Ok.jpg"/>{{successToast}}</div>
									<div class="modal-title font-14 font-regular" *ngIf="isActivated"><img src="../../assets/image/Ok.jpg"/>{{successToast}}</div>
									<div class="modal-title font-14 font-regular" *ngIf="!isActivated"><img src="../../assets/image/Ok.jpg"/>{{successToast}}</div> 

									<!--<div class="modal-title" *ngIf="isInActivated"><span><img src="../../assets/image/Ok.jpg"/></span>Success : In{{status}}d GL Code {{glName}}</div>-->
								 </div>
						</div>
					</div>
				</div>  
				<!--Update message Modal - end -->

				<!--Edit modal pop-up-->
<div  *ngIf="openEdit" [config]="{backdrop:'static',show: true }"
 (onHidden)="onHideEditModal()" bsModal  #editModal="bs-modal"
  class="modal fade edit-popup" 
  tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-edit">
				<div class="modal-header mod-head"> 
					<a class="class pull-right"><span style="color:grey !important;" class="glyphicon glyphicon-remove" (click)="editModal.hide()"></span></a>
					<h3 class="modal-title font-semibold">Edit Weight Terms</h3>
				</div>
				<div class="modal-edit-body mod-body">
					<app-add-weight-terms [packModel]=weighttermdetail (onSubmit)="closeEditModal($event)" ></app-add-weight-terms>
				</div>			
			</div>
		</div>
</div>
<!--End of Edit modal pop up-->	

<!-- Update Modal-->
<div class="modal fade in success-modal" [style.display]="UpdateModal ? 'block' : 'none'" id="UpdateModal" role="dialog">
			<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header">        
					  <!--<div class="modal-title"><span><img src="../../../assets/image/Ok.jpg"/></span>Success : Currency Master Updated</div>-->
					  <div class="modal-title font-14 font-regular"><img src="../../../assets/image/Ok.jpg"/>{{message}}</div>
					</div>       
				  </div>
			</div>
		</div>
<!--Update Modal End -->


<!--success Popup End-->
<div *ngIf="isShowModal" (onHidden)="onHidden()" [style.display]="showModal ? 'block' : 'none'" class="modal fade success-modal" bsModal #SuccessModal="bs-modal" [config]="{backdrop: true,show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
				<div class="modal-header">        
					<div class="modal-title font-14 font-regular"><img src="../../assets/image/Ok.jpg"/>{{weightTermName}}</div>
				</div> 
		</div>
	</div>
</div>

<!--success Popup End-->


			</div>
		</div>
	</div>
</div>
