<!--  <app-header></app-header>-->
<div class="container-fluid">
  <!--<loading-animation [loadingData]="loadingData"></loading-animation>-->
  <div class="row row-background">
    <app-nav-bar ></app-nav-bar>
     <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 usr-div view-page single-block">
		  	<h4 class="padb10 padt10 colr-1e2f4d font-18 font-bold">Port/Location Master Details</h4>	
			<form class="user-detail font-sm">
            <div class="accordion">
						<h3 class="font-semibold colr-lblue header-padding">Basic Details</h3>
						<div class="accordion-content">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Port/Location Code</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
											<span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: 
											</span>
											<span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">
												{{locationDetail?.locCode}}
											</span>
											</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Port/Location Name</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
											<span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
											<span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">
												{{locationDetail?.locName}}
											</span>
											</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Port/Location Full Name</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
											<span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
											<span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">
												{{locationDetail?.locFullName}}
											</span>											
											</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Port/Location Country</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
											<span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">:</span>
											<span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0" >
												{{locationDetail?.fkGeoName}}
											</span>
											</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Port/Location Type</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0"><span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
										<span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0 break">
												{{locationDetail?.fkLocTypeName}}
											</span>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Terminal Handling Charges (THC)</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0"><span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
										<span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">
												{{locationDetail?.rate}}
											</span>
										</div>
									</div>
								</div>
							</div>	
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Currency</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
											<span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">:</span>
											<span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0" >
												{{locationDetail?.fkCurrencyName}}
											</span>
											</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Rate Basis</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0"><span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
										<span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">
												{{locationDetail?.fkRateBasisRefName}}
											</span>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0" *ngIf="locationDetail?.fkRateBasisRefId == rateBasis.uom">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">UOM</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0"><span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
										<span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">
												{{locationDetail?.rateBasisUom}}
											</span>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0"  *ngIf="locationDetail?.fkRateBasisRefId == rateBasis.primaryPack">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Primary Packing</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0"><span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
										<span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">
												{{locationDetail?.rateBasisPrimaryPacking}}
											</span>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0" *ngIf="locationDetail?.fkRateBasisRefId == rateBasis.secondaryPack">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Secondary Packing</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0"><span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
										<span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">
												{{locationDetail?.rateBasisSecondaryPacking}}
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clr-both btn-footer e-draft displayblock" data-attr="footer-edraft">
						<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 pad0">
							<button type="button" id="" class="back btn default-btn tertiary-btn singlebtn-width font-semibold font-18" (click)="back()">Back</button>
						</div>
						<div class="col-lg-10 col-md-10 col-sm-8 col-xs-8 pull-right text-right pad0">
                <button type="button" id="update13" class="btn default-btn secondary-btn multiplebtn-width marr20 edit-form1 font-semibold font-18" (click)='edit()'>Edit</button>					
              <span id="status-draft" *ngIf="locationDetail?.pkLocId && locationDetail?.fkStatusId === status.Draft">
                <button type="button" id="update14" class="btn default-btn secondary-btn multiplebtn-width marr20 edit-form font-semibold font-18" (click)='onSubmitBtnClick(status.Active)' >Submit</button>					
                <button type="button" id="save_party_master" class="btn default-btn primary-btn multiplebtn-width edit-form font-semibold font-18"  (click)='openConfirmAction()' >Delete</button>					
              </span>
              <span id="status-active" *ngIf="locationDetail?.pkLocId && locationDetail?.fkStatusId === status.Active">
                <button type="button" id="save_party_master" class="btn default-btn primary-btn multiplebtn-width edit-form font-semibold font-18" (click)='openConfirmAction()'>Deactivate</button>					
              </span>
              <span id="status-inactive" *ngIf="locationDetail?.pkLocId && locationDetail?.fkStatusId === status.Inactive">
                <button type="button" id="save_party_master" class="btn default-btn primary-btn multiplebtn-width edit-form font-semibold font-18"  (click)='openConfirmAction()'>Reactivate</button>					
              </span>
						</div>							
					</div>
          </form>
			</div>
  </div>
</div>

 <div  *ngIf="openEdit" [config]="{backdrop:'static',show: true }"
 (onHidden)="onHideEditModal()" bsModal  #editModal="bs-modal"
  class="modal fade edit-popup" 
  tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-edit" style="height:440px !important;">
				<div class="modal-header mod-head"> 
					<a class="class pull-right"><span style="color:grey !important;" class="glyphicon glyphicon-remove" (click)="editModal.hide()"></span></a>
					<h3 class="modal-title font-semibold"> Update Location Details</h3>
				</div>
				<div class="modal-edit-body mod-body">
							<app-add-edit-location [locDetail]="locationDetail" (onSubmit)="closeEditModal($event)" ></app-add-edit-location>
				</div>			
			</div>
		</div>
</div>

<!--<app-message [msgs]="locationMessages"  id="success-message" ></app-message>-->
<!-- <app-confirm-box [config]="confirmBoxConfigure" (doConfirm)="confirmCancelation($event)" (doCancel)=""> </app-confirm-box> -->

  <div  *ngIf="confirmBoxConfigure && confirmBoxConfigure?.isVisible" [config]="{backdrop:'static',show: true }"
 (onHidden)="onHiddenConfirm()" bsModal  #confirmModal="bs-modal"
  class="modal fade confirm-box delete-popup" 
  tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog " style="color:white !important;">
          <div class="modal-content  del-modal"> <!-- *ngClass="{'confirmation-comment': confirmBoxConfigure?.isCommentPresent}" -->
              <!--<div class="modal-header">
                        {{ confirmBoxConfigure?.header }}                 
              </div>-->
              <div class="col-md-12 product_img text-center" style="padding-top:15px;">
                    <img src="../../assets/image/Confirm_Delete.svg" />
              </div>
              <div class="modal-body">
                  <div class="row">                                  
                      <div class="col-md-12 product_img text-center">
                          {{ confirmBoxConfigure?.message }}
                      </div>
                      <div class="col-md-12 product_img text-center" *ngIf="confirmBoxConfigure?.isCommentPresent">
                          <input type="text" placeholder="comments" class="form-control font-15 font-regular " name="comment" id="comment" [(ngModel)]="confirmBoxConfigure.comment" >
                      </div>                                  
                  </div>
              </div>
              <div class="del-btn-group">
                    <div class="del-pop-btn"><button class="del-cancel del-cancel-button btn btn-default btn-lg font-semibold" (click)="closeConfirmBox($event)">Cancel</button></div>
                    <div class="del-pop-btn"><button class="del-confirm del-button btn btn-default btn-lg confirm-delete  font-semibold" (click)="confirmCancelation($event)">Confirm</button></div>
              </div>
          </div>
      </div>
</div>