<!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 left-side-nav text-center pad0 sticky">
  <div (click)="getMasterScreen()">
    <i class="left-nav-first-icn">&nbsp;</i>
  </div>
  <div>
    <i class="left-nav-second-icn">&nbsp;</i>
  </div>
  <div>
    <i class="left-nav-third-icn">&nbsp;</i>
  </div>
  <div>
    <i class="left-nav-fourth-icn">&nbsp;</i>
  </div>
  <div>
    <i class="left-nav-fifth-icn">&nbsp;</i>
  </div>
  <div>
    <i class="left-nav-sixth-icn">&nbsp;</i>
  </div>
  <div>
    <i class="left-nav-seventh-icn">&nbsp;</i>
  </div>
  <div>
    <i class="left-nav-eigth-icn">&nbsp;</i>
  </div>
  <div>
    <i class="left-nav-ninth-icn">&nbsp;</i>
  </div>
  <div>
    <i class="left-nav-tenth-icn">&nbsp;</i>
  </div>
  <div>
    <i class="left-nav-eleventh-icn">&nbsp;</i>
  </div>
  <div>
    <i class="left-nav-twelfth-icn">&nbsp;</i>
  </div>
</div>-->

<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 left-side-nav text-center pad0 sticky" id="sidebar-wrapper">					
					<ul class="sidebar-nav" id="menu">
						<li class="mobiletable displaynone">                   
						   <span class="mobile-row">
							   <!--<span class="mobile-cell mobile-user-img"><img src="img/mobileprofile.png"/></span>-->
							   <span class="mobile-cell">				  
								   <span class="mobiletable">
									   <span  class="mobile-row">Alex Jasper</span>
									   <span class="mobile-row user-mail">alex.jasper@olam.com</span>
				  <!--<span class="mobile-row"><img  class="location-icon" src="img/location_icon.png"/>USA</span>-->
								   </span>
							   </span>
						   </span>
						</li>  
						<li class="active-nav" (click)="getMasterScreen()">
							<span><i class="left-nav-first-icn"></i></span><span class="mobile-text displaynone">DASHBOARD</span>
						</li>
						<li>
						   <span><i class="left-nav-second-icn"></i></span><span class="mobile-text displaynone">CONTRACT</span>
						</li>
						<li>
						   <span>	<i class="left-nav-third-icn"></i></span><span class="mobile-text displaynone">ALLOCATION</span>
						</li>
						<li>
							<span><i class="left-nav-fourth-icn"></i></span><span class="mobile-text displaynone">SAMPLE</span>
						</li>
						<li>
						   <span><i class="left-nav-fifth-icn"></i></span><span class="mobile-text displaynone">SHIPMENT</span>
						</li>
						<li>
						   <span><i class="left-nav-sixth-icn"></i></span><span class="mobile-text displaynone">STOCK</span>
						</li>
						<li>
						   <span><i class="left-nav-seventh-icn"></i></span><span class="mobile-text displaynone">SETTLEMENT</span>
						</li>
						<li>
						   <span><i class="left-nav-eigth-icn"></i></span><span class="mobile-text displaynone">SETTLEMENT</span>
						</li>
						<li>
						  <span><i class="left-nav-ninth-icn"></i></span><span class="mobile-text displaynone">EOD VALUATION</span>
						</li>
						<li class="nav-more">
						  <span><i class="left-more-icn"></i></span><span class="mobile-text displaynone">REPORTS</span>
						</li>
						<li class="left-nav-more-icons">
							<ul>				
								<li>
									<i class="left-nav-tenth-icn">&nbsp;</i>
								</li>
								<li>
									<i class="left-nav-eleventh-icn">&nbsp;</i>
								</li>
								<li>
									<i class="left-nav-twelfth-icn">&nbsp;</i>
								</li>
							</ul>
						</li>						
						<li class="displaynone m-displayblock">
							<span><i class="left-nav-tenth-icn"></i></span><span class="mobile-text displaynone">CLAIMS</span>
						</li>
						<li class="displaynone m-displayblock">
						   <span><i class="left-nav-eleventh-icn"></i></span><span class="mobile-text displaynone">MASTER</span>
						</li>
						<li class="displaynone m-displayblock">
							<span><i class="left-nav-twelfth-icn"></i></span><span class="mobile-text displaynone">SECURITY</span>
						</li>
						<li class="mob-logout displaynone m-displayblock">
						  <span><i class="left-nav-logout-icn"></i></span><span class="mobile-text mobile-logout-text displaynone">LOGOUT</span>
						</li>
						
					</ul>
				</div>