<div class="container-fluid">
	<div class="row row-background">
		<app-nav-bar></app-nav-bar>
		<!-- ngx bootstrap - Accordion -->
		<div class="col-lg-11 col-md-11 col-sm-11 col-xs-12  right-side-content pad0">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 usr-div create-view">
				<h4 class="padb10 padt10 colr-1e2f4d font-18 font-bold">Add Product Limit</h4>			 			
				<form  class="user-detail font-sm">
					<accordion>
						 <accordion-group #group [isOpen]="status.isFirstOpen" [isDisabled]="status.isFirstDisabled">
                <div accordion-heading  class="font-semibold">
                         Product Header
                  <i class="pull-right float-xs-right glyphicon"
                  [ngClass]="{'acc-down': group?.isOpen, 'acc-up': !group?.isOpen}"></i>
                </div>
             			<div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0">
								<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<label for="usr-field" class="colr-red font-regular font-14">Internal Party Name</label>
									<input type="text" class="form-control font-15 font-regular " id="rolename" value="" placeholder="">
								</div>
								<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<label for="usr-field" class="colr-red  font-regular font-14">Limit Alert Level</label>
										<div class="dropdown positionrel">
										<button class="btn btn-primary dropdown-toggle width-full txt-lft font-regular font-14" type="button" data-toggle="dropdown">
											<span class="caret"></span></button>
										<ul class="dropdown-menu positionrel">
											<li><a href="#">Hard</a></li>
											<li><a href="#">Soft</a></li>
										</ul>
									</div>
								</div>

								<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label for="usr-field" class="colr-red font-regular font-14">Unit of Measure</label>
									<div class="dropdown positionrel">
										<button class="btn btn-primary dropdown-toggle width-full txt-lft font-regular font-14" type="button" data-toggle="dropdown">
											<span class="caret"></span></button>
										<ul class="dropdown-menu positionrel">
											<li><a href="#">MT</a></li>
											<li><a href="#">KG</a></li>
											
										</ul>
									</div>
								</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0">
								<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label for="usr-field" class="colr-red font-regular font-14">Currency</label>
									<div class="dropdown positionrel">
										<button class="btn btn-primary dropdown-toggle width-full txt-lft font-regular font-14" type="button" data-toggle="dropdown">
											<span class="caret"></span></button>
										<ul class="dropdown-menu positionrel">
											<li><a href="#">SGD</a></li>
											<li><a href="#">USD</a></li>
										</ul>
									</div>
								</div>
							</div>	
						</div>
						 </accordion-group>
              <accordion-group #group1 [isOpen]="status.isFirstOpen" [isDisabled]="status.isFirstDisabled">
                <div accordion-heading  class="font-semibold">
                         Product Limit
                  <i class="pull-right float-xs-right glyphicon"
                  [ngClass]="{'acc-down': group?.isOpen, 'acc-up': !group?.isOpen}"></i>
                </div>
             		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 party-grade-def">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0">
									<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<label for="usr-field" class="colr-red  font-regular font-14">Product Name</label>
										<div class="dropdown positionrel">
											<button class="btn btn-primary dropdown-toggle width-full txt-lft font-regular font-14" type="button" data-toggle="dropdown">
												<span class="caret"></span></button>
											<ul class="dropdown-menu positionrel">
												<li><a href="#">Arabica</a></li>
												<li><a href="#">Green Coffee</a></li>
												
											</ul>
										</div>
									</div>
									<div class="form-group col-lg-4 col-md-4col-sm-6 col-xs-12">
										<label for="usr-field" class="colr-lblue  font-regular font-14">Outright Limit</label>
										<input type="text" class="form-control font-15 font-regular " id="roledecr" value="" placeholder="">
									</div>
								
								<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<label for="usr-field" class="colr-lblue font-regular font-14">Basis Limit</label>
									<input type="text" class="form-control font-15 font-regular " id="roledecr" value="" placeholder="">
								</div>
								
						</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0">
								<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<label for="usr-field" class="colr-lblue  font-regular font-14">Structure Limit</label>
									<input type="text" class="form-control font-15 font-regular " id="roledecr" value="" placeholder="">
								</div>
								
								
									<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<label for="usr-field" class="colr-lblue  font-regular font-14">Fixed  Forward Tenor</label>
									<input type="text" class="form-control font-15 font-regular " id="roledecr" value="" placeholder="">
								</div>
								
								
									<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<label for="usr-field" class="colr-lblue  font-regular font-14">VaR Limit</label>
									<input type="text" class="form-control font-15 font-regular " id="roledecr" value="" placeholder="">
								</div>
								
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0">
								<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<label for="usr-field" class="colr-lblue  font-regular font-14">M2M Limit</label>
									<input type="text" class="form-control font-15 font-regular " id="roledecr" value="" placeholder="">
								</div>
									<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<label for="usr-field" class="colr-lblue font-regular font-14">Valid From</label>
									<input type="date" class="form-control font-15 font-regular " id="PartyCode" value="DD/MM/YY" placeholder="">
								</div>
								
								<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<label for="usr-field" class="colr-lblue  font-regular font-14">Valid To</label>
									<input type="date" class="form-control font-15 font-regular " id="PartyCode" value="DD/MM/YY" placeholder="">
								</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0">
									<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<label for="usr-field" class="colr-lblue  font-regular font-14">Temporary/Permanent </label>
										<div class="dropdown positionrel">
											<button class="btn btn-primary dropdown-toggle width-full txt-lft font-regular font-14" type="button" data-toggle="dropdown">
												<span class="caret"></span></button>
											<ul class="dropdown-menu positionrel">
												<li><a href="#">Temporary</a></li>
												<li><a href="#">Permanent</a></li>
												
											</ul>
										</div>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 accessories-block">
										<span class="pull-left"><i class="plus-icn-md"> &nbsp; </i></span>
										<span class="pull-left"><i class="delete-icn-md"> &nbsp; </i></span>
									</div>								
								</div>								
							</div>
              </accordion-group>
          </accordion>
            	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clr-both btn-footer">
						<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 pad0">
							<button type="button" class="btn default-btn tertiary-btn singlebtn-width font-semibold font-18">Reset</button>
						</div>
						<div class="col-lg-10 col-md-10 col-sm-8 col-xs-8 pull-right text-right pad0">
							<button type="button" id="save_party_master"  class="btn default-btn secondary-btn multiplebtn-width marr20 edit-form font-semibold font-18">Save</button>					
							<button type="button" id="save_party_master"  class="btn default-btn primary-btn multiplebtn-width edit-form font-semibold font-18">Submit</button>					
						</div>							
					</div>
				</form>
			</div>
		</div>
	</div>
</div>