<div id="wrapper">
    <app-nav-bar></app-nav-bar>
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12  right-side-content pad0">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 usr-div view-page">
                <form class="user-detail font-sm">
                    <accordion>
						<accordion-group [isOpen]="status.isFirstOpen">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Product Grade Code</div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
                                            <span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
                                            <span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">GR01</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Product</div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
                                            <span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
                                            <span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">Arabica</span>                                    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Origin</div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
                                            <span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
                                            <span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">Brazil</span>
                                        </div>
                                    </div>
                                </div>                                								
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Origin Region</div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
                                                <span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
                                                <span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">East Brazil</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Grade Name</div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
                                                <span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
                                                <span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">Grade 1</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Grade Full Name</div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
                                                <span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
                                                <span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">Grade 1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Base grade</div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
                                                <span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
                                                <span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">Yes</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Base Grade Name</div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
                                                <span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
                                                <span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">Grade A</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Default Grade UOM</div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
                                                <span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
                                                <span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">MT</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Washed / Natural</div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
                                                <span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
                                                <span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">Washed</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Washed Type</div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
                                                <span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
                                                <span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">Semi-Washed</span>
                                            </div>
                                        </div>
                                    </div>		
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Brand</div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
                                                <span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
                                                <span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">Yes</span>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Blended Grade</div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
                                                <span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
                                                <span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">Yes</span>
                                            </div>
                                        </div>
                                    </div>	
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Tenderable</div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
                                                <span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
                                                <span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">Yes</span>
                                            </div>
                                        </div>
                                    </div>	
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Default Quality Template</div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
                                                <span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
                                                <span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">Good Cup Type 2/4</span>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Hedge Ratio</div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
                                                <span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
                                                <span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">80%</span>
                                            </div>
                                        </div>
                                    </div>								
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padl0">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 font-14 font-regular marb20">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0 colr-666666">Cup Profile Name</div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad0">
                                                <span class="col-lg-1 col-md-1 col-sm-6 col-xs-12 pad0">: </span>
                                                <span class="displaytable col-11 col-md-11 col-sm-6 col-xs-12 pad0">HCUP</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                         </accordion-group>
                    </accordion>
                </form>
            </div>
    </div>
</div>
