<div class="container-fluid">
	<div class="row row-background">
		<app-nav-bar></app-nav-bar>
		<!-- ngx bootstrap - Accordion -->
		<div class="col-lg-11 col-md-11 col-sm-11 col-xs-12  right-side-content pad0">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 usr-div create-view">
				<h4 class="padb10 padt10 colr-1e2f4d font-18 font-bold">Unit Limit Master</h4>			 			
				<form  class="user-detail font-sm">
					<accordion>
						 <accordion-group #group [isOpen]="status.isFirstOpen" [isDisabled]="status.isFirstDisabled">
                <div accordion-heading  class="font-semibold">
                          Basic Details
                  <i class="pull-right float-xs-right glyphicon"
                  [ngClass]="{'acc-down': group?.isOpen, 'acc-up': !group?.isOpen}"></i>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0">
										<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
											<label for="usr-field" class="colr-red font-regular font-14">Unit Code</label>
											<input type="text" class="form-control font-regular font-14" id="Unit_Code" value="" placeholder="">
										</div>
										<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
											<label for="usr-field" class="colr-red font-regular font-14">Unit Name</label>
											<input type="text" class="form-control font-regular font-14" id="Unit_Name" value="" placeholder="">
										</div>
										<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<label for="usr-field" class="colr-red font-regular font-14">Unit Description</label>
												<input type="text" class="form-control font-regular font-14" id="Unit_Full_Name" value="" placeholder="">
										</div>
                    <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
											<div class="ovr-flw">
												<span class="pull-left padr20 padl0 colr-4b536 colr-lblue font-regular font-14">Is Group-Unit</span>
												<span class="radio pricing-details">
													<input type="radio" name="radio1213" id="radio1213" value="option24">
													<label for="radio1213" class="font-regular font-14">Yes</label>
												</span>
												<span class="radio pricing-details">
													<input type="radio" name="radio1213" id="radio1213" value="option24" checked>
													<label for="radio1213" class="font-regular font-14">No</label>
												</span>								
											</div>
										</div>									
										<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
											<label for="usr-field" class="colr-lblue font-regular font-14">Parent Unit</label>
											<div class="dropdown">
													<button class="btn btn-primary dropdown-toggle width-full txt-lft font-regular font-14" type="button" id="Parent_Unit" data-toggle="dropdown">Select
													<span class="caret"></span></button>
													<ul class="dropdown-menu">											
														<li><a href="#">Brazil Group</a></li>
														<li><a href="#">Indonesia Group</a></li>												
													</ul>
											</div>
										</div>
										<div class="form-group col-lg-3 col-md-2 col-sm-6 col-xs-12">
											<label for="usr-field" class="colr-lblue font-regular font-14">Country</label>
												<div class="dropdown">
													<button class="btn btn-primary dropdown-toggle width-full txt-lft font-regular font-14" type="button" id="Country1" data-toggle="dropdown">Select
													<span class="caret"></span></button>
													<ul class="dropdown-menu">											
														<li><a href="#">Italy</a></li>
														<li><a href="#">USA</a></li>												
													</ul>
												</div>
										</div>
                   						 <div class="form-group col-lg-3 col-md-2 col-sm-6 col-xs-12">
											<label for="usr-field" class="colr-lblue font-regular font-14">Internal Company</label>
												<div class="dropdown">
													<button class="btn btn-primary dropdown-toggle width-full txt-lft font-regular font-14" type="button" id="Intr_Comp" data-toggle="dropdown">Select
													<span class="caret"></span></button>
													<ul class="dropdown-menu">											
														<li><a href="#">OIL Singapore</a></li>
														<li><a href="#">Coffee Italy</a></li>												
													</ul>
												</div>
										</div>
								</div>
						 </accordion-group>
             <accordion-group #group1 [isOpen]="status.isFirstOpen" [isDisabled]="status.isFirstDisabled">
                <div accordion-heading  class="font-semibold">
                          Unit & Legal Entity Mapping
                  <i class="pull-right float-xs-right glyphicon"
                  [ngClass]="{'acc-down': group?.isOpen, 'acc-up': !group?.isOpen}"></i>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0">
                    <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
											<label for="usr-field" class="colr-lblue font-regular font-14">Product Code</label>
											<div>
												<div class="dropdown">
														<button class="btn btn-primary dropdown-toggle width-full txt-lft font-regular font-14" type="button" id="Intr_Comp" data-toggle="dropdown">Select
														<span class="caret"></span></button>
														<ul class="dropdown-menu">											
															<li><a href="#">1001</a></li>
															<li><a href="#">1002</a></li>												
														</ul>
												</div>
											</div>
										</div>
										<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
											<label for="usr-field" class="colr-lblue font-regular font-14">Product Name</label>
											<input type="text" class="form-control font-regular font-14" id="Product_Name" value="" placeholder="">
										</div>
                </div>
             </accordion-group>
             <accordion-group #group2 [isOpen]="status.isFirstOpen" [isDisabled]="status.isFirstDisabled">
                <div accordion-heading  class="font-semibold">
                          Unit & Product Mapping
                  <i class="pull-right float-xs-right glyphicon"
                  [ngClass]="{'acc-down': group?.isOpen, 'acc-up': !group?.isOpen}"></i>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0">
                    <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
											<label for="usr-field" class="colr-lblue font-regular font-14">LE Code</label>
											<div class="dropdown">
												<button class="btn btn-primary dropdown-toggle width-full txt-lft font-regular font-14" type="button" id="Intr_Comp" data-toggle="dropdown">Select
												<span class="caret"></span></button>
												<ul class="dropdown-menu">											
													<li><a href="#">1001</a></li>
													<li><a href="#">1002</a></li>												
												</ul>
											</div>
										</div>
										<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
											<label for="usr-field" class="colr-lblue font-regular font-14">LE Name</label>
											<input type="text" class="form-control font-regular font-14" id="LE_Name" value="" placeholder="">
										</div>	
										
                </div>
             </accordion-group>
              <accordion-group #group3 [isOpen]="status.isFirstOpen" [isDisabled]="status.isFirstDisabled">
                <div accordion-heading  class="font-semibold">
                          External System Mapping
                  <i class="pull-right float-xs-right glyphicon"
                  [ngClass]="{'acc-down': group?.isOpen, 'acc-up': !group?.isOpen}"></i>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0">
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
											<label for="usr-field" class="colr-lblue font-regular font-14">Destination System</label>
											<div class="dropdown">
												<button class="btn btn-primary dropdown-toggle width-full txt-lft font-regular font-14" type="button" data-toggle="dropdown">Select
													<span class="caret"></span></button>
												<ul class="dropdown-menu">
													<li><a href="#">SAP</a></li>
													<li><a href="#">Oracle</a></li>
													<li><a href="#">SAP HANA</a></li>
												</ul>
											</div>
										</div>
										<div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
											<label for="usr-field" class="colr-lblue font-regular font-14">Attribute 1</label>
											<input type="text" class="form-control font-regular font-14" id="LE_Name" value="" placeholder="">
										</div>
										<div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
											<label for="usr-field" class="colr-lblue font-regular font-14">Attribute 2</label>
											<input type="text" class="form-control font-regular font-14" id="mapping" value="" placeholder="">
										</div>
                </div>
              </accordion-group>
					</accordion>
				</form>
			</div>
		</div>
	</div>
</div>
            