<div class="container-fluid ">
	<!--<loading-animation [loadingData]="loadingData"></loading-animation>-->
	<div class="row row-background">
		<app-nav-bar></app-nav-bar>
		<div class="col-lg-11 col-md-11 col-sm-11 col-xs-12 right-side-content pad0">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 usr-div data_table padt15 create-view">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style="padding-left:0px;">
					<h4 class="padb10 padt10 colr-1e2f4d font-18 font-bold" >Packing Material List</h4>
					</div>
								<!-- Serach Icon pannel -->
				<div class="padb10 padt10 colr-1e2f4d font-18 add-icon-index font-bold col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right padr0">
			
				
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 uom-grid">
					<div class="accordion">
                            <!-- Kendo Grid starts-->
							<div class="party-grade_block">
									<kendo-grid [kendoGridBinding]="packingmaterial" [selectable]="true" [groupable]="true" [group]="state.group"
										[scrollable]="true" [editable]="true" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter"
										[sortable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)"  [pageable]="false"
										(pageChange)="pageChange($event)">

										<ng-template kendoGridToolbarTemplate>
									 <span class="k-i-file-excel"  kendoGridExcelCommand>	<img src="../../assets/image/Excel.svg" class="excel-img"/></span>
											<img src="../../assets/image/add.png" (click)="packAddView()" />
										</ng-template>
									<!-- Serach Icon pannel-->
						
										<kendo-grid-column media="xs" title="">
										<ng-template kendoGridCellTemplate let-dataItem>
											<!-- template for mobile -->
											
											<h4>
											{{ dataItem.packingMaterialCode }}
											</h4>
											<dl>
											<dt>Packing Material Name</dt>
											<dd>{{ dataItem.packingMaterialName }}</dd>

											<dt>Packing Material Description</dt>
											<dd>{{ dataItem.packingMaterialDesc }}</dd>
														
											<dt>Package Weight</dt>
											<dd>{{ dataItem.packingMaterialWeight }}</dd>

											<dt>Package UOM</dt>
											<dd>{{ dataItem.uomValue}}</dd>
											
											</dl>
											<!-- template for mobile Ends-->
										</ng-template>
										</kendo-grid-column>
										<kendo-grid-column field='' title='' [width]="40">
												<ng-template kendoGridHeaderTemplate let-dataItem>
												<input type="checkbox" id="checkall" class="k-checkbox" ng-model="allItemsChecked" (change)="checkAllClicked($event)" />
												<label class="k-checkbox-label chk_head" for="checkall"></label>
											</ng-template> 
											<ng-template kendoGridCellTemplate let-dataItem>
												<input type="checkbox" class="k-checkbox" id="dataItem.packingMaterialCode " name="dataItem.packingMaterialCode " ng-model="dataItem.packingMaterialCode "/>
												<label class="k-checkbox-label" for="dataItem.packingMaterialCode"></label>
											</ng-template>
										</kendo-grid-column>

										<!--<kendo-grid-column field="checked" title="">
											<ng-template kendoGridHeaderTemplate let-dataItem>
											<input type="checkbox" 	(change)="checkAllClicked($event)" />
											
											</ng-template> 
										</kendo-grid-column>-->
										<!--<kendo-grid-column media="sm" field="uomCode" title="Code">
										</kendo-grid-column>-->
										<kendo-grid-column media="sm" field="packingMaterialCode" title="Packing Material Code">
											<ng-template kendoGridCellTemplate let-dataItem>
												<div (click)="goToViewPage(dataItem)"  class="view-all">{{dataItem.packingMaterialCode}}</div>
											</ng-template>
										</kendo-grid-column>
										<kendo-grid-column media="md" field="packingMaterialName" title="Packing Material Name">
										</kendo-grid-column>
										<kendo-grid-column media="md" field="packingMaterialDesc" title="Type Description">
										</kendo-grid-column>
										<kendo-grid-column media="lg" field="packingMaterialWeight" title="Package Weight">
										</kendo-grid-column>
										<kendo-grid-column media="lg" field="uomName" title="Package UOM">
										</kendo-grid-column>
										<kendo-grid-column media="lg" title="Status" field="statusName">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                        <label class="text-center" [ngClass]="{'status-draft': dataItem.statusName== 'Draft', 'status-active': dataItem.statusName=='Active','status-inactive': dataItem.statusName=='InActive'}">{{((dataItem.statusName=='Draft')?'Draft':(dataItem.statusName=='InActive'?'Inactive':'Active'))}}</label>
				        	            </ng-template>
                                         </kendo-grid-column>
										<kendo-grid-column field="" title="">
											<ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex">
												<div class="show" style="float:left" (click)="editRow(i)" ><span id="e1" data-attr="draft" >
													<img src="../../../assets/image/Edit_Icon_Hover.png.svg"></span></div>
													<div class=""   [ngClass]="{'displaynone': dataItem.statusName=='InActive'}"  >
														<span id="d1" class="confirm-delete"  >
															<span *ngIf="dataItem.statusName == 'Draft'"><img class='k-button' src="../../../assets/image/Delete icon.svg"  (click)="openConfirmAction(dataItem)"></span>
															<span *ngIf="dataItem.statusName == 'Active'"><img class='k-button'  src="../../../assets/image/Deactiveicon2.svg"  (click)="openConfirmAction(dataItem)"></span>
															<span *ngIf="dataItem.statusName == 'InActive'"><img class='k-button' src="../../../assets/image/Activeicon.svg"  (click)="openConfirmAction(dataItem)"></span>	
														</span>
												</div>
											</ng-template>
										</kendo-grid-column>
									
										
										<kendo-grid-excel fileName="Packing Material.xlsx"></kendo-grid-excel>
									</kendo-grid>
									</div>
									<!--Kendo grid Ends-->
                     </div>
				</div>
			        <!--Edit modal pop-up-->
<div  *ngIf="openEdit" [config]="{backdrop:'static',show: true }"
 (onHidden)="onHideEditModal()" bsModal  #editModal="bs-modal"
  class="modal fade edit-popup" 
  tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-edit">
				<div class="modal-header mod-head"> 
					<a class="class pull-right"><span style="color:grey !important;" class="glyphicon glyphicon-remove" (click)="editModalRemove()"></span></a>
					<h3 class="modal-title font-semibold">Edit Packing Material</h3>
				</div>
				<div class="modal-edit-body mod-body">
					<app-add-packing-material [packModel]=packingModel (onSubmit)="closeEditModal($event)" ></app-add-packing-material>
				</div>			
			</div>
		</div>
</div>
<!--End of Edit modal pop up-->		
    <!-- Success Modal -->
	<div class="modal fade in success-modal" [style.display]="addModal ? 'block' : 'none'" id="successModal"  role="dialog">
			<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header">        
					  <div class="modal-title font-14 font-regular"><img src="../../../assets/image/Ok.jpg"/>{{message}}</div>
					</div>       
				  </div>
			</div>
		</div>
<!--<div *ngIf="isShowModal" [style.display]="addModal ? 'block' : 'none'" class="modal fade success-modal" bsModal #successModal="bs-modal" [config]="{backdrop: 'false',show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-content">
				<div class="modal-header">        
					<div class="modal-title"><span><img src="../../assets/image/Ok.jpg"/></span>{{message}}</div>
				</div>       
			</div>
		</div>
	</div>
</div>-->
<!-- Success Modal - End -->
<!--Update Modal-->
<div class="modal fade in success-modal" [style.display]="UpdateModal ? 'block' : 'none'" id="UpdateModal" role="dialog">
			<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header">        
					  <!--<div class="modal-title"><span><img src="../../../assets/image/Ok.jpg"/></span>Success : Currency Master Updated</div>-->
					  <div class="modal-title font-14 font-regular"><span><img src="../../../assets/image/Ok.jpg"/></span>{{message}}</div>
					</div>       
				  </div>
			</div>
		</div>
<!--Update Modal End-->

<div *ngIf="deleteSuccessModal" (onHidden)="onHidden()" [style.display]="showModal ? 'block' : 'none'" class="modal fade success-modal" bsModal #deletesuccessModal="bs-modal" [config]="{backdrop: true,show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
				<div class="modal-header">        
					<div class="modal-title font-14 font-regular"><img src="../../assets/image/Ok.jpg"/>{{deactivateSuccessDialog}}</div>
				</div> 
		</div>
	</div>
</div>
<!-- Delete Success Modal - End -->

<!--Delete Pop up-->
<div class="modal fade delete-popup"  (onHidden)="onHiddenpopup()" *ngIf="isDeletePopupModal" [style.display]="showModal ? 'block' : 'none'" class="modal fade delete-popup" bsModal #successModal="bs-modal" [config]="{backdrop: true,show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog ">
		<div class="modal-content  del-modal">
		   <div class="modal-header text-center">
				<!-- <a data-dismiss="modal" class="class pull-right"><span style="color:grey !important;" class="glyphicon glyphicon-remove" (click)="cancel()"></span></a>                                                                               -->
				<img src="../../assets/image/Confirm_Delete.svg" />
			</div>			
			<div class="modal-body">
					<div class="col-md-12 product_img text-center font-14 font-regular">							
						{{dialogValue}}
					</div>
			</div>
			<div class="del-btn-group modal-window-footer btn-shodow">
				<div class="del-pop-btn col-lg-6 col-md-6 col-sm-6 pad0 pull-left"><button class="width-full del-cancel del-cancel-button btn btn-default font-14 font-regular bw-cancel" (click)="closedeletepopup()">Cancel</button></div>
				<div class="del-pop-btn col-lg-6 col-md-6 col-sm-6 pad0 pull-left"><button class="width-full del-confirm del-button btn btn-default confirm-delete  font-14 font-regular primary" (click)="pack_delete()">Confirm</button></div>
			</div>
		</div>
	</div>
</div>
			</div>
		</div>
	</div>
</div>