<div class="container-fluid ">
    <!--<loading-animation [loadingData]="loadingData"></loading-animation>-->
    <div class="row row-background">
        <app-nav-bar></app-nav-bar>

        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12 right-side-content pad0">


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 usr-div data_table create-view">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style="padding-left:0px;">
                    <h4 class="padb10 padt10 colr-1e2f4d font-18 font-bold" l10nTranslate>Limit List</h4>
                </div>

                <!-- Serach Icon pannel -->
                <div class="padb10 padt10 colr-1e2f4d font-18 add-icon-index font-bold col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right padr0">




                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 uom-grid">
                    <div class="accordion">
                        <div class="party-grade_block">
                            <kendo-grid [kendoGridBinding]="data" [selectable]="true" [groupable]="true" [group]="state.group" [scrollable]="'virtual'"
                                [editable]="true" [pageSize]="state.take" [filter]="state.filter" [rowHeight]="36" [sortable]="true"
                                [filterable]="true"  [pageable]="false">

                                <ng-template kendoGridToolbarTemplate>
                                    <span class="k-i-file-excel" kendoGridExcelCommand>	<img src="../../assets/image/Excel.svg" class="excel-img"/></span>
                                    <img src="../../assets/image/add.png" (click)="gotoAddPage()" />
                                </ng-template>

                                <kendo-grid-column media="xs" title="UOM">
                                    <ng-template kendoGridCellTemplate let-dataItem>


                                        <h4>
                                            {{ dataItem.limitBasisTypeName}}
                                        </h4>
                                        <dl>
                                            <dt>Name</dt>
                                            <dd>{{ dataItem.limitBasisName }}</dd>

                                            <dt>Full Name</dt>
                                            <dd>{{ dataItem.additionallimitBasisTypeName }}</dd>

                                            <dt>Conversion</dt>
                                            <dd>{{ dataItem.additionallimitBasisName }}</dd>
                                        </dl>
                                        <!-- template for mobile Ends-->
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field='' title='' width="40">
                                    <ng-template kendoGridHeaderTemplate let-dataItem>
                                        <input type="checkbox" id="checkall" class="k-checkbox" (change)="checkorUnCheckAll($event)" />
                                        <label class="k-checkbox-label chk_head" for="checkall"></label>
                                    </ng-template>
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <input type="checkbox" class="k-checkbox" id="dataItem.limitHeaderId" name="dataItem.limitHeaderId" ng-model="dataItem.limitHeaderId"
                                        />
                                        <label class="k-checkbox-label" for="dataItem.limitHeaderId"></label>
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column media="sm" field="limitBasisTypeName" title="{{headerLimitBasisTypeName}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <div (click)="viewById(dataItem)" class="view-all">{{dataItem.limitBasisTypeName}}</div>
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column media="sm" field="limitBasisName" title="{{headerLimitBasisName}}">
                                </kendo-grid-column>
                                <kendo-grid-column media="md" field="additionallimitBasisTypeName" title="{{headerAdditionalLimitBasisTypeName}}">
                                </kendo-grid-column>
                                <kendo-grid-column media="md" field="additionallimitBasisName" title="{{headerAdditionalLimitBasisName}}">
                                </kendo-grid-column>
                                <kendo-grid-column media="lg" field="statusName" title="Status">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <label field="statusName" [ngClass]="{'status-draft': dataItem.statusName=='Draft','status-active': dataItem.statusName=='Active','status-inactive': dataItem.statusName=='InActive'}">{{dataItem.statusName}}</label>
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="" title="" width="150">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <div class="show" style="float:left"><span id="e1" data-attr="draft" style="font-size:8px !important;">
                                                    <img src="../../../assets/image/Edit_Icon_Hover.png.svg" (click)='editToAddPage(dataItem)'></span>
                                            <!-- <a href="javascript:void(0)" [routerLink]="['edit',dataItem.limitHeaderId]"><img src='../../../assets/image/Edit_Icon_Hover.png.svg'/></a> -->

                                        </div>
                                        <!--	<div class="" style="padding-left:30px;" (click)="product_delete(dataItem)" [ngClass]="{'displaynone': dataItem.statusName=='InActive'}">
											<span id="d1" class="confirm-delete" style="font-size:8px !important;">
													<img src="../../../assets/image/Delete icon.svg"></span></div>-->
                                        <div class="" [ngClass]="[dataItem.statusName=='Draft' ? 'displayblock' : 'displaynone']">
                                            <span id="d1" class="confirm-delete" style="font-size:8px !important;">
                                                    <!--<img src="../../../assets/image/Activeicon.svg" style="width:50px;" (click)="updatewithStatus(dataItem,'Active')">-->
                                                    <img src="../../../assets/image/Delete icon.svg" *ngIf='dataItem.statusName=="Draft"'(click)="limit_delete(dataItem)" >
                                                    </span>
                                        </div>
                                        <div class="" [ngClass]="[dataItem.statusName=='Active' ? 'displayblock' : 'displaynone']">
                                            <span id="d1" class="confirm-delete" style="font-size:8px !important;">
                                                    <!--<img src="../../../assets/image/Deactiveicon2.svg" style="width:50px;"  (click)="updatewithStatus(dataItem,'InActive')" >-->
                                                    </span>
                                        </div>
                                        <div class="" [ngClass]="[dataItem.statusName=='InActive' ? 'displayblock' : 'displaynone']">
                                            <span id="d1" class="confirm-delete" style="font-size:8px !important;">
                                                    <!--<img src="../../../assets/image/Reactivate2.svg" style="width:25px;"  (click)="updatewithStatus(dataItem,'Active')" >-->
                                                    </span>
                                        </div>

                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-excel fileName="LimitsMaster.xlsx"></kendo-grid-excel>
                            </kendo-grid>
                        </div>
                        <!--Kendo grid Ends-->
                    </div>
                </div>



                <div *ngIf="isShowModals" [style.display]="showModal ? 'block' : 'none'" class="modal fade success-modal" (onHidden)="hide()"
                    bsModal #successModals="bs-modal" [config]="{backdrop: 'static',show: true}" tabindex="-1" role="dialog"
                    aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="modal-title  font-14 font-regular"><img src="../../assets/image/Ok.jpg" /> <span l10nTranslate>{{ msgsuccess}}  {{masterName}}  {{limitName}}  {{statusmsg}}</span>                                    </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div  *ngIf="servererrorflag" [style.display]="showModal ? 'block' : 'none'" (onHidden)="hide()" class="modal fade something_wrong"
					bsModal #serverErrorModal="bs-modal" [config]="{backdrop: 'static',show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
					aria-hidden="true">
					<div class="modal-dialog modal-md">
						<div class="modal-content">
							<div class="modal-content">
								<div class="modal-header">
									<div class="modal-title"><span><img src="../../assets/image/Error Message_Icon.svg"/></span>{{errorMessage}} </div>
								</div>
							</div>
						</div>
					</div>
			</div>

                <!-- Delete Success Modal -->
                <!-- <div *ngIf="deleteSuccessModal" [style.display]="showModal ? 'block' : 'none'" class="modal fade success-modal" bsModal #deletesuccessModal="bs-modal" [config]="{backdrop: 'static',show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-content">
				<div class="modal-header">        
					<div class="modal-title" *ngIf="isDraftStatus" ><span><img src="../../assets/image/Ok.jpg"/></span>Success :  Deleted Limits: {{limitBasisName}} </div>
                   <div class="modal-title" *ngIf="isActiveStatus"><span><img src="../../assets/image/Ok.jpg"/></span>Success : InActivated Payment Terms Code {{paytemname}}</div>
				</div>       
			</div>
		</div>
	</div>
</div> -->


                <div *ngIf="deleteSuccessModal" [style.display]="showModal ? 'block' : 'none'" class="modal fade success-modal" (onHidden)="hide()"
                    bsModal #deletesuccessModal="bs-modal" [config]="{backdrop: 'static',show: true}" tabindex="-1" role="dialog"
                    aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="modal-title font-14 font-regular" *ngIf="isDraftStatus"><img src="../../assets/image/Ok.jpg" />Success :  Limits  {{limitName}} deleted</div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Delete Success Modal - End -->


                <div class="modal fade delete-popup" *ngIf="isDeletePopupModal" (onHidden)="hide()" [style.display]="showModal ? 'block' : 'none'"
                    class="modal fade delete-popup" bsModal #deletePopUpModal="bs-modal" [config]="{backdrop: 'static',show: true}"
                    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content  del-modal">
                            <div class="modal-header text-center">
                                <!-- <a data-dismiss="modal" class="class pull-right"><span style="color:grey !important;" class="glyphicon glyphicon-remove" (click)="cancel()"></span></a> -->
                                <img src="../../assets/image/Confirm_Delete.svg" />
                            </div>
                            <div class="modal-body">

                                <div class="col-md-12 product_img text-center font-14 font-regular" *ngIf="isDraftStatus">
                                    Are you sure you want to Delete the Limits {{limitBasisName}} in {{statusName}} status
                                </div>


                            </div>
                            <div class="del-btn-group modal-window-footer btn-shodow">
                                <div class="del-pop-btn col-lg-6 col-md-6 col-sm-6 pad0 pull-left"><button class="width-full del-cancel del-cancel-button btn btn-default font-14 font-regular bw-cancel"
                                        (click)="deletePopUpModal.hide()">Cancel</button></div>
                                <div class="del-pop-btn col-lg-6 col-md-6 col-sm-6 pad0 pull-left"><button class="width-full del-confirm del-button btn btn-default confirm-delete  font-14 font-regular primary"
                                        (click)="conf_delete($event)">Confirm</button></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>