.inValid, .inValid > div{
    border-bottom-color:#d43c3c !important;
}
button.k-button.k-grid-add-command {
    float: right;
}
.add-new{
    float:right;
}

.brand_detail .ui-widget-content:hover{
background: #dceffd !important;
}
.brand_detail .ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd {
    background-color: white;
}  
.brand_detail .ui-chkbox-box {
    width: 16px !important;
    height: 16px !important;
    border-radius: 0px !important; 
    background: white;
    border-color: #7f7f7f;
    margin-left: 15px !important;
}
.brand_detail .ui-state-active:before{
    content: "\2713";
    color: #4F89AD;
    font-size: 13px;    
    position: relative;
}
.brand_detail .ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active{
    background: white;
}
.brand_detail .ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active{
     border-color: #7f7f7f;
}
.brand_detail .ui-datatable .ui-datatable-thead>tr>th, .origin_detail .ui-datatable .ui-datatable-tfoot>tr>td,.origin_detail  .ui-datatable .ui-datatable-data>tr>td {
     border-color: white !important; 
    box-sizing: border-box;   
    border-width: 0px !important; 
     border-style: none; 
}
.brand_detail .ui-inputtext{
    background-color: transparent;
    font-size: 15px;
  
}
.brand_detail input, .origin_detail input:focus{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    box-shadow: none;   
}
.brand_detail .ui-datatable .ui-editable-column input{
    width:75%;    
}
.brand_detail table tr{
    border:0px solid #ffffff !important;
}
.brand_detail .ui-cell-data{
       color: #333333;
    font-size: 15px;
    font-family: "Roboto-Regular";
}
.brand_detail .ui-datatable .ui-datatable-data>tr>td.ui-editable-column{
    padding-top:19px;
    padding-bottom:19px;
}
.brand_detail .ui-datatable-odd{
    background: #fbfcfe !important;
}
.brand_detail .ui-datatable th.ui-state-default{
    background: #ffffff;
}
.brand_detail .ui-column-title{
    color: #648b99;
    font-size: 14px;
    font-family: "Roboto-Medium";
}
.brand_detail .ui-chkbox-box:not(.ui-state-disabled):not(.ui-state-active):hover{
border-color: #70acd1;
background: #ffffff;
}
.brand_detail .ui-chkbox-box{
border-color: #70acd1;
background: #ffffff;
}
.brand_detail table .ui-state-default{
    text-align: left;
}
.brand_detail .ui-datatable th.ui-sortable-column:not(.ui-state-active):hover {
    background: #ffffff;
    border-color: #ffffff;
}  
  .create-view{
      padding-left:30px !important;
      padding-right: 30px !important;

  }
 .currency-container .add-icon-index{
    /*z-index: 9999 !important;*/
    }

.grid-container{
    clear:both;
}
.suggestion-dropdown {
    position: relative;
    display: inline-block;
}
.suggestion-dropdown .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 2px;
    background: #EEE;
    z-index:2;
    max-height:100px;
    overflow:auto;
}
.suggestion-dropdown .dropdown div {
    cursor: pointer;
    padding: 2px 5px;
}
.suggestion-dropdown input:focus + .dropdown {
    display: block;
}
.dropdown select option{
    color:#333;
}

.alertCurrencycode{
    border:  0.5px solid #d43c3c;
    margin-top: -2px;
}
/*.ui-growl-item{       
     position: absolute;
  
    width: 100%;
 
    right: 120%;
    background: red;
}*/

.error-modal .modal-title,.error-modal .modal-header{
	color:#ffffff;
	background: #d43c3c !important;
	border-bottom:0 !important;
	font-family: "Roboto-Medium";
	text-align:center;
	left:0%;
  }

.tbl-action{
    display:none;
}
.brand_detail .ui-widget-content:hover >  td:last-child .tbl-action{
    display: block !important;
}

.break-word {
word-wrap: break-word;
}
.pointer {
  cursor: pointer;
}
.k-grid-header th.k-header{
    text-transform:none !important;
}
.small-btn{
    /*width:20px;*/

}
.preview-image-inline img{
    margin-left:-3px;
}
.inline-block span {
    padding-left: 10px;
}
.preview-image-inline {
    padding-left: 10px;
}
.inline-block {
    display:inline-block;
}
.preview-img{
    max-width: 100%;
    height: 24px;
    width: 24px;
}
.k-button-wrapper, .k-button-wrapper:hover{
    box-shadow: none;
    outline: 0;
    border: 0px;
    background: transparent;
}

.k-grid-content tr td{
    padding-left:14px !important;
    padding-right:14px !important;
}
.k-grid-header th.k-header {
    padding-left:14px !important;
    padding-right:14px !important;
}

.k-grid th{
    padding-left:14px !important;
    padding-right:14px !important;
}
.k-textbox {
    width:100% !important;
}

.k-grid tr td .k-textbox{
   margin-left:1px;
}
/*
.k-grid tr td:first-child, .k-grid tr th:first-child{
    width:20px !important;
}*/
.k-list{
    margin-top:0px !important;
}
.imageUploadBlock.content{
    background-color: #fff;
}
.imageUploadBlock .instruction {
    color: #000;
}
.imageUploadBlock.content {
    width:100% !important;
}

.status-image{
    width:25px;
    text-align:center;
    margin-left:36px;
}

.currency_cancel{
    padding:2px;
}